/* Add mobile styles for the component here.  */
ActionBar {
    color: white;
    background: #4285f4;
}

.value {
    margin-right: 5%;
    width: 45%;
    text-align: right;
    color: darkblue;
    font-size: 14px;

}

.field{
    margin-top: 16;
}
.prop {
    font-size: 16px;
    margin-left: 5%;
    width: 45%;
}