<StackLayout>

    <Image src="res://avatar" class="avatar-main"></Image>
    <Label text="User" class="profile-username"></Label>
    <Label text="user@mail.com" class="profile-mail"></Label>
    <StackLayout style="margin-top: 240px" orientation="horizontal" class="buttons-grid" horizontalAlignment="center" width="auto" height="auto">
        <StackLayout class="button-layout">
            <Button text="+" class="profile-button btn-rounded-lg"></Button>
            <label text="Dodaj"></label>
        </StackLayout>
        <StackLayout class="button-layout">
            <Button text="?" class="profile-button btn-rounded-lg map"></Button>
            <label text="Zemljevid"></label>
        </StackLayout>
        <StackLayout class="button-layout">
            <Button text="!" class="profile-button btn-rounded-lg report"></Button>
            <label text="Prijavi krajo"></label>
        </StackLayout>

    </StackLayout>

    <StackLayout #bottomElt><Label text="logout"></Label></StackLayout>


</StackLayout>