<StackLayout>

<Image src="res://avatar" class="avatar-main"></Image>
    <Label text="User" class="profile-username"></Label>
    <Label text="user@mail.com" class="profile-mail"></Label>
        <StackLayout orientation="horizontal" class="buttons-grid" horizontalAlignment="center" width="auto" height="210">
        <Button text="" class="profile-button btn-rounded-lg"></Button>
        <Button text="" class="profile-button btn-rounded-lg"></Button>
        <Button text="" class="profile-button btn-rounded-lg"></Button>
    </StackLayout>

</StackLayout>