/* Add mobile styles for the component here.  */
ActionBar {
    background: #4285f4;
    color: white;
}

ActionItem  {
    color: white;
}

button {
    font-size: 15px;
    horizontal-align: center;
}

.on-profile {
    height: 55%;
}

.button-layout {
    width: 28%;
    text-align: center;
}

.profile-button {
    width: 160px;
    height: 160px;
    background: #4285f4;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.map {
    background: darkolivegreen;
}

.report {
    background: darkred;
}

.avatar {
    width: 40%;
    height: 40%;
}

.sideStackLayout, .sideProfileLayout{
    background-color: #0f3f78;
    color: white;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.9;
}
.sideStackLayout {

}
.separator {
    background: white; height: 2px;
}

.selected {
    background: #4285f4;
}

.sideLabel {
    padding: 10px;
}

.titleLabel {
    font-size: 12px;
    color: #C0C0C0;
}

.sideLightGrayLabel {
    background-color: lightgray;
}

.sideProfileLayout {
    text-align: center;
    font-size: 15px;
    padding-bottom: 40px;
}

.sideProfileLayout .mail {
    font-size: 11px;
    font-weight: normal;
}

/*
.sidedrawer-left {
    background-color: #3A53FF;
}

.sidedrawer-header-image {
    color: #022734;
    height: 60px;
    width: 60px;
    font-size: 60px;
    padding: 0;
    margin-bottom: 5px;
    margin-top: 20px;
}

.footnote {
    color: #fff;
    opacity: 0.5;
}



.sidedrawer-header {
    background-color: #3A53FF;
}

.sidedrawer-header-brand {
    color: #fff;
}



.sidedrawer-content {
    background-color: #000;

}

.sidedrawer-list-item {
    padding-left: 15px;
}

Label {
    vertical-align: center;
    color: #022734;
}

.fa {
    width: 20px;
    margin-right: 10px;
}


.selected {
    background-color: #2b2b2b;
}

Label {
    color: #3A53FF;
}
*/