<ListView [items]="items" (itemTap)="onItemTap($event)" class="list-group">
    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
        <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
        <StackLayout orientation="horizontal" class="item-card">
          <Image [src]="item.picture" loadMode="async" stretch="aspectFit"></Image>
          <StackLayout>
            <Label [text]="item.bike_brand"></Label>
            <Label [text]="item.worth"></Label>            
          </StackLayout>
        </StackLayout>
    </ng-template>
</ListView>
